
@font-face {
    font-family: MontsRegular;
    src: url('/src/Components/Fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: LeagueSpartan;
    src: url('/src/Components/Fonts/LeagueSpartan-Bold.otf');
}
.projectHolder {
    margin-bottom: 100px;
    width: calc(100vw - 60px);
    min-height: 300px;
    background: rgba(255, 255, 255, .6);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}
@media (max-width:960px) {
    .projectHolder {
        width: 100vw;
        margin-bottom: 50px;
    }
}
@media (max-width: 700px) {
    .projectHolder {
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 25px;
    }
    .projectHolder {
        min-height: 400px;
        justify-content: center;
    }
    .macbookHolder { 
        margin-top:20px;
    }
    .projectInfoHolder {
        padding-bottom: 20px;
    }
    
}
.macbookHolder {
    width: 300px;
    min-width: 300px;
    min-height: 200px;
    position: relative;
    background-image: url('../Assets/macbook.png');
    background-repeat: no-repeat;
    background-size: 300px;
    
}

.projectImg {
    top: 11px;
    height: 141px;
    width: 226px;
    position: absolute;
    left: 38px;
    transition: .2s;
}
.projectImg:hover {
    opacity: .5;
}
.projectImg:active {
    opacity: 1;
    transition: 0s;
}

.projectInfoHolder {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   width: 50%;
   min-width: 300px;
  padding-left: 5%;
   height: 100%;
   
   
   
   
}
.projectTitle {
    font-size: 24pt;
    font-family: LeagueSpartan,Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px 0px;
    color: #181818;
}
.projectDesc {
    font-size: 12pt;
    font-family: MontsRegular,Arial, Helvetica, sans-serif;
    color: #2360a6;
    margin-bottom: 5px;
}

