@font-face {
    font-family: MontsRegular;
    src: url('../Fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: LeagueSpartan;
    src: url('../Fonts/LeagueSpartan-Bold.otf');
}


.homeHolder {
display: flex;
flex-direction: column;
overflow-x: hidden;

}
/* desktop */
@media (min-width:960px) {
    .homeHolder {
        flex-direction: row;
    }
    .homeTop {
        width: 100vw;
        height: 100vh;
    }
}



.homeTop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../Assets/workspace4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.title1 {
    font-family: LeagueSpartan,sans-serif;
    color: white;
    font-size: 50pt;
    width: 80%;
}
.title2 {
    font-family: MontsRegular,sans-serif;
    color: white;
    font-size: 50pt;
    width: 80%;
}

.homeMid {
    background: white;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.homeMidTitleHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.homeMidTitle {
    font-size: 30pt;
    font-family: LeagueSpartan,Arial, Helvetica, sans-serif;

}
.homeMidSubTitle {
    font-size: 20pt;
    font-family: MontsRegular,Arial, Helvetica, sans-serif;
}
@media (min-width:960px){
    .homeMid {
        width: calc(100vw - 60px);
        /* background:rgb(200, 197, 197); */
    }
    .homeMidSection {
        /* border-right: solid 1px black; */
        padding: 20px 10px;
        height: 200px;
    }
    
}

.homeMid3Section {
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 80%;
    }
.homeMidSection {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
.homeBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url('../Assets/workspace.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
    background-position: bottom right;
    text-align: center;
}
.homeBottom h1 {
    font-size: 50pt;
    font-family:Monts-Regular, Helvetica, sans-serif;
    color: white;
}
/* tablet and mobile */
@media (max-width:959px){
    .homeTop {
        height: 100vh;
    }
    .title1 {
        font-size: 30pt;
    }
     .title2 {
        font-size: 30pt;
    }
    
    .homeMid3Section  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}
@media (max-width:600px){
    .homeTop {
        height: 100vh;
    }
    .title1 {
        font-size: 24pt;
    }
    .title2 {
        font-size: 24pt;
    }
}