.homeHolder {
display: flex;
flex-direction: column;
overflow-x: hidden;

}
/* desktop */
@media (min-width:960px) {
    .homeHolder {
        flex-direction: row;
    }
    .homeTop {
        width: 100vw;
        height: 100vh;
    }
    .Home{
        margin-left: 60px;
    }
}


/* tablet and mobile */
@media (max-width:959px){
    .homeTop {
        height: 100vh;
    }
}
.homeTop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../Assets/workspace4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
   
    
}
.homeTop h1 {
    font-size: 50pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.homeMid {
    background: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url('../Assets/workspace.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
    background-position: bottom right;
}
.homeBottom h1 {
    font-size: 50pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}