@font-face {
    font-family: MontsRegular;
    src: url('../Fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: LeagueSpartan;
    src: url('../Fonts/LeagueSpartan-Bold.otf');
}


.homeHolder {
display: flex;
flex-direction: column;
overflow-x: hidden;

}
/* desktop */
@media (min-width:960px) {
    .homeHolder {
        flex-direction: row;
    }
    .homeTop {
        width: 100vw;
        margin-left: -60px;
        height: 100vh;
    }
}

.homeTop {
    display: flex;
    align-items: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../Assets/workspace4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    flex-direction: column;
    padding-top: 30vh;
    position: relative;
    
    justify-content: space-between;
    
}
.homeTopBtnsHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    min-height: 80px;
    width: 100vw;
    margin-bottom: 50px;

}
.MoreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.callToActionBtn {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: flex-end; */
    /* top: 0; */
    color: white;
    padding: 10px 20px;
    background: #2360a6;
    background: linear-gradient(45deg,#235aa6 20%,#478ddd);
    border-radius: 5px;
    font-size: 10pt;
    line-height: 10pt;
    font-family: MontsRegular,sans-serif;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 20px;
}
.callToActionBtn:hover {
    font-size: 12pt;
    padding: 12px 22px;
    margin-top: -4px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.445);
    background: linear-gradient(45deg,#235aa6 20%,#478ddd);
}
.fa-chevron-down {
    color: white;
    /* position: absolute;
    left: 48vw;
    bottom: 120px; */
    cursor: pointer;
    font-size: 30pt;
    cursor: pointer;
   
}

.homeTop a {
    text-decoration: none;
    color: white;
    text-align: left;
    
}
.homeTop span.char {
    font-family: LeagueSpartan,sans-serif;
    font-size: 50pt;

}
.homeTop span:hover {
    color: #2360a6;
    /* transition: .2s; */
    background: white;
}

.title1 span.char{
    font-family: LeagueSpartan,sans-serif;
    
    font-size: 50pt;
    width: 90%;
}
.title2 span{
    font-family: MontsRegular,sans-serif;
    font-size: 40pt;
    width: 80%;
}

.homeMid {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
}

.homeMidTitleHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #eee;
    padding-bottom: 20px;
    padding: 80px 0px;
}
.homeMidTitle {
    margin-bottom: 10px;
    font-size: 30pt;
    font-family: LeagueSpartan,Arial, Helvetica, sans-serif;

}
.homeMidSubTitle {
    font-size: 20pt;
    padding: 20px 20px;
    text-align: center;
    font-family: MontsRegular,Arial, Helvetica, sans-serif;
}
.homeMidSection h2 {
    margin-bottom: 16px;
    color: #2360a6;
    font-weight: bold;
    font-size: 18pt;
}
.homeMidSection {
    font-size: 14pt;
    font-family: MontsRegular,Arial, Helvetica, sans-serif;
    
}
.viewWorkBtn {
    text-decoration: none;
    margin: 0;
    color: rgba(0, 0, 0, 0.274);
    font-family: MontsRegular,Arial, Helvetica, sans-serif;
    padding: 10px 0px;
    font-size: 20pt;
    padding: 0;
}
.viewWorkBtn {
    width: 240px;
    min-width: 200px;
    display: flex;
    align-self: center;
    justify-content: flex-start;
    align-items: center;
}
.viewWorkBtn span {
    color: #2360a6;
}
.viewWorkBtn span:hover {
    text-decoration: line-through;
}
.fa-long-arrow-right {
    transition: .3s;
    margin-left: 5px;
}
.viewWorkBtn:hover .fa-long-arrow-right{
    margin-left: 20px;
    color: #2360a6;
}
@media (min-width:960px){
    .homeMid {
        width: calc(100vw - 60px);

    }
    
}

.homeMid3Section {
        background: white;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100%;
        padding: 40px 0px;
    }
.homeMidSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 16px 40px;
    }
.homeMidSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.homeMid h1 {
    font-size: 50pt;
    font-family:Monts-Regular, Helvetica, sans-serif;
}
.homeMid h3 {
    color: white;
    font-size: 30pt;
}
.midSec2 {
    background: #2360a6;
    color: white;
    min-height: 100vh;
    justify-content: flex-start;
}   
.midSec4 {
    background: #2360a6;
    min-height: 100vh;
    color: white;
    justify-content: flex-start;
    background: #101b3b;
    
}

/* tablet and mobile */
@media (max-width:959px){
    .homeTop {
        height: calc(100vh - 60px);
        padding-top: 20vh;
    }
    .title1 span.char{
        font-size: 30pt;
    }
     .title2 span{
        font-size: 30pt;
    }
    
    .homeMid3Section  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}
@media (max-width:600px){
    .homeTop a {
        text-align: center;
    }
    .title1 span.char{
        font-size: 24pt;
    }
    .title2 span{
        font-size: 24pt;
    }
    .homeMid {
        justify-content: center;
    }
}

