@font-face {
    font-family: MontsRegular;
    src: url('../Fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: LeagueSpartan;
    src: url('../Fonts/LeagueSpartan-Bold.otf');
}
.footerHolder {
    height: 200px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: .5s;
transition-delay: .3s;
    /* background: red; */
    

}
.displayFooter {
    position: fixed;
    bottom: 0px;
    right: 0;
    z-index: 5;
}
.hideFooter {
    position: fixed;
    bottom: -150px;
    right: 0;
    transition-delay: .15s;
    transition: .5s;
}
.buttonHolder {
    display: flex;
    flex-direction: row;
}
.triangle {
    width: 0;
    height: 0;
    border-bottom: 50px solid #235aa6;
    width: 100px;
    border-left: 90px solid transparent;
    cursor: pointer;
}
.footerBtn {
    width: 40px;
    height: 50px;
    background: #235aa6;
    border-top-left-radius: 2px;
    border-top-right-radius: 5px;
    cursor: pointer;
    
}
.fBtnHolder {
    position: relative;
    width: 50px;
    height: 100%;
    margin-left: -15px;
}
.fBtnHolder:hover {
    opacity: .7;
}
.fBtnBar1 {
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    width: 60%;
    height: 4px;
    background: white;
    border-radius: 2px;
}
.pointDown {
transition: .3s;
transform: rotate(45deg);
transition-delay: .7s;
}
.pointUp {
    transition: .3s;
transform: rotate(-45deg);
transition-delay: .7s;
}
.fBtnBar2 {
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    width: 60%;
    height: 4px;
    background: white;
    border-radius: 2px;
    
}
.Footer {
    
    width: 100vw;
    height: calc(100% - 50px);
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg,#101b3b,#235aa6 70%);
    
}
@media (max-width: 960px){
    .Footer {
        padding-left: 0px;
    }
}
.footerItem {
    font-family: MontsRegular,sans-serif;
    padding: 10px 30px;
    color: white;
    opacity: .5;
    font-size: 14pt;
    }



/*----------shadow of footer styling-------------- */
    .shadowFooterHolder {
        width: 100vw;
        height: 200px;
        position: fixed;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        transition-delay: .15s;
    transition: .4s;
    

    }

    /* display shadow of footer */
    .shadowDisplayFooter {
        position: fixed;
    bottom: 0px;
    right: 0;
    z-index: 4;
    }

    /* Hide Shadow of footer */
    .shadowHideFooter {
        position: fixed;
        bottom: -150px;
        right: 0;
        transition-delay: .2s;
        
    }
    .shadowBtnHolder {
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .shadowTriangleAndBtn {
        width: 200px;
        height: 100%;
        margin-left: -15px;
        display: flex;
        justify-content: flex-end;
    }
    .shadowBtn {
        background: #181818;
        width: 40px;
        height: 50px;
        border-top-right-radius:5px;

    }
    .shadowTriangle {
        width: 0;
        height: 0;
        border-bottom: 50px solid #181818;
        width: 100px;
	    border-left: 90px solid transparent;
    }
    .shadowFooter {
        background: #181818;
        background: linear-gradient(180deg, #181818 20%,#1818187c );
        height: calc(100% - 50px);
        width: 100vw;
        
    }