html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
   box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
} */

colors {
  /* matte black */
  color: #181818;
  /* grey */
  color: #4D4D43;
  /* blue */
  color: #235aa6;
  /* dark blue */
  color: #101b3b; 
  
  color: #DF672E;
}

@font-face {
    font-family: MontsRegular;
    src: url('/src/Components/Fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: LeagueSpartan;
    src: url('/src/Components/Fonts/LeagueSpartan-Bold.otf');
}
/* main content and animation */
.mainContent {
  display: flex;
  flex-direction: column;
    /* margin-left: -80vw; */
    background: rgb(26, 27, 28);
    background: rgb(198, 201, 205);
    min-height: 100vh;
    width: 100vw;
    background-image: url('./Components/Assets/polygonWhite.jpg');
    background-repeat: no-repeat;
    background-size: cover;

  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  animation-delay: .3s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transition-delay: .5s;

  }

 @-webkit-keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
}

/* main content shadow animation */
.mainContentShadow {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(270deg, #181818 10%,#1818187c );
  background: linear-gradient(270deg,#235aa6,#101b3b);
  -webkit-animation-name: slideInLeftShadow;
  animation-name: slideInLeftShadow;
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transition-delay: .3s;
  transition: .3s;
}
@-webkit-keyframes slideInLeftShadow {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
}
.mainContentTitle {
  font-family: LeagueSpartan,Arial, Helvetica, sans-serif;
  color: #235aa6;
  padding-left: 10%;
  z-index: 2;
  
}
.mainContentP {
  color: #181818;
  font-family: MontsRegular,Arial, Helvetica, sans-serif;
  padding-left: 10%;
  z-index: 2;
  margin-bottom: 50px;
  
}
.mainContentP p a {
  text-decoration: none;
  color: #235aa6;
}
.mainContentP p a:hover {
  text-decoration: none;
  color: grey;
}
.mainContentP p a:active {
  text-decoration: none;
  color:#235aa6;
}
.mainContentP h3 {
  font-size: 20pt;
  font-family: LeagueSpartan,Arial, Helvetica, sans-serif;
}
.mainContentP h4 {
  font-size: 14pt;
  font-family: MontsRegular,Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  color: white;
}
.mainContent span {
  font-weight: bold;
  font-family: MontsRegular,Arial, Helvetica, sans-serif;
  
}
/* desktop view */
@media (min-width:960px){
  .mainContent {
    padding-left: 60px;
    
  }
  .mainContentTitle {
    font-size: 42pt;
    margin-top: 120px;
    margin-bottom: 40px;
  }
  .mainContentP {
    width: 70%;
    font-size: 16pt;
  }
}
/* mobile / tablet view */
@media (max-width:960px){
  .mainContent {
    padding-top: 60px;
  }
  .mainContentTitle {
    font-size: 32pt;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mainContentP {
    width: 80%;
    font-size: 14pt;
  }
}

/* mobile / tablet view */
@media (max-width:600px){
  .mainContentTitle {
    font-size: 24pt;
    
  }
  .mainContentP {
    width: 80%;
    font-size: 12pt;
  }
}