.NavHolder {
    width: 100vw;
    height: 60px;
    background: #181818;
    position: fixed;
}

.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* nav links */
.navSection {
display: flex;
justify-content:space-around;
align-items: center;
}
.Nav a {
    text-decoration: none;
    color:#4D4D43;
    font-size: 14pt;
    line-height: 14pt;
    font-family: Arial, Helvetica, sans-serif;

}
.Nav a:hover {
}
.gdLogoHolder {
    margin-left: -2px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gdLogo {
    padding: 0px 2px;
    height: 30px;
    filter: invert(0%);
    border-radius: 50px;
    transition: .1s;
    
}
.gdLogo:hover {
    filter: hue-rotate(180deg);
    filter: invert(100%);
    background: #BC4F0E;
    /* opposite of#43B0F1; */

}
.gdLogo:active {
    background: white;
    
}
/* center nav   */
.centerNav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imgLinkHolder {
    position: relative;
    width: 40px;
    height: 30px;
    border-radius: 2px;
    transition: .3s;
    text-align: center;
}
.linkName {
    width: 90%;
    margin-left: 5%;
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    margin-top: 5px;
    font-size: 6pt;
    color: #2098D1;
}
.imgLinkHolder:hover .linkName {
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

.imgLinkHolder img {
    width: 40px;
    height: 30px;
    border-radius: 4px;
    transition: .9s;
    
}
.imgLinkHolder:hover img {
    opacity: 0;
    transition: .2s;
    background: transparent;
    margin-top: 10px;
    width: 20px;
    height: 15px;
}

/* social media links */
.rightNav img {
    width: 30px;
    height: 30px;
    border-radius: 7px;
    opacity: .4;
    cursor: pointer;
    transition: .3s;
}
.rightNav img:hover {
    opacity: 1;
    
    background: #2098D1;
}
@media (max-width:959px){
.NavHolder {
    min-width: 330px;
}
.logoNav {
    width: 10%;
    min-width: 70px;
    
}
.centerNav {
    width: 50%;
    height: 60px;
    justify-content: space-around;
    
}
.rightNav {
    width: 20%;
    min-width: 165px;
    margin-right: 15px;
}
}

/* changing direction of nav to vertical*/
@media (min-width: 960px){
    .NavHolder {
        width: 60px;
        height: 100vh;
        min-height: 280px;
    }
    .Nav {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        
    }
    .navSection {
        flex-direction: column;
        justify-content: space-around;

    }
    
    .logoNav {
        height: 10%;
        min-height: 30px;
    }
    .centerNav {
        justify-content: space-around;
        align-items: center;
        height: 35%;
        min-height: 120px;
        width: 60px;
    }
    .rightNav {
        height: 25%; 
        min-height: 130px;
}
.gdLogoHolder {
    margin-left: 2px;
    }
}
